{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block body %}
<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to my personal posts</h5>
      <p class="card-text">I am a student from cu(loikaw) and try to learn full stack development.</p>
      <a href="https://zawzawwinucsl.imfast.io/" class="btn btn-primary">Click here to see my cv</a>
      <a href="https://github.com/hareom284/web-development/tree/master/30_days_challenge/flask/src1/Blog_Post_Project" class="btn btn-primary">Get code</a>
    </div>
  </div>
{% endblock %}